{include file='Index/header.html'}
<div class="body">
	<div class="breadcrumbs margin-bottom-50">
    	<div class="container">
            <h1 class="color-green pull-left">注册</h1>
        </div>
    </div>
	<div class="container">
		<div class="row-fluid margin-bottom-10">
        	<form class="reg-page" action="{$smarty.const.__SELF__}" method="post" />
            	<h3>用户注册</h3>
                <div class="controls">
                    <label>用户名</label>
                    <input type="text" class="span12" name="username" value="{$userinfo.username}" />
                    <span style="color:#c00;">{$errorInfo.username}</span>
                </div>
                <div class="controls">
                    <div class="span6">
                        <label>密码 <span class="color-red" style="font-size:13px;">{$errorInfo.password}</span></label>
                        <input type="password" class="span12" name="password" value="{$userinfo.password}" />
                    </div>
                    <div class="span6">
                        <label>重复密码 <span class="color-red" style="font-size:13px;">{$errorInfo.password2}</span></label>
                        <input type="password" class="span12" name="password2" value="{$userinfo.password2}" />
                    </div>
                </div>
                <div class="controls">
                    <label>邮箱</label>
                    <input type="text" class="span12" name="user_email" value="{$userinfo.user_email}" />
                    <span style="color:#c00;">{$errorInfo.user_email}</span>
                </div>
                <div class="controls">
                    <label>QQ</label>
                    <input type="text" class="span12" name="user_qq" value="{$userinfo.user_qq}" />
                    <span style="color:#c00;">{$errorInfo.user_qq}</span>
                </div>
                <div class="controls">
                    <label>电话</label>
                    <input type="text" class="span12" name="user_tel" value="{$userinfo.user_tel}" />
                    <span style="color:#c00;">{$errorInfo.user_tel}</span>
                </div>
                <div class="controls" style="padding:5px 0px;">
                    <span style="font-size:14px;">性别　</span>
                    <label class="radio inline">
                        <input type="radio" checked name="user_sex"/ value="1">
                        男
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="user_sex"/ value="2">
                        女
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="user_sex"/ value="0">
                        人妖
                    </label>
               </div>
               <div class="controls" style="padding:5px 0px;">
                   <span style="font-size:14px;">学历　</span>
                    <select class="span3" name="user_xueli">
                        <option value="1" />小学
                        <option value="2" />初中
                        <option value="3" />高中
                        <option value="4" />大专
                        <option value="5" />本科
                    </select>
                    <span style="color:#c00;">{$errorInfo.user_xueli}</span>
                </div>
                <div class="controls" style="padding:5px 0px;">
                    <span style="font-size:14px;">爱好　</span>
                   <label class="checkbox inline">
    	                <input type="checkbox" name="user_hobby[]" value="youxi"/> 游戏
                    </label>
                   <label class="checkbox inline">
    	                <input type="checkbox" name="user_hobby[]" value="yinyue"/> 音乐
                    </label>
                   <label class="checkbox inline">
    	                <input type="checkbox" name="user_hobby[]" value="youyong"/> 游泳
                    </label>
                   <label class="checkbox inline">
    	                <input type="checkbox" name="user_hobby[]" value="xiaqi"/> 下棋
                    </label>
               </div>
               <span style="color:#c00;">{$errorInfo.user_hobby}</span>
               <label>简介</label>
                   <textarea class="span12 border-radius-none" rows="3" name="user_introduce">{$userinfo.user_introduce}</textarea>
                <div class="controls form-inline">
                    <button class="btn-u pull-right" type="submit">注册</button>
                </div>
                <hr />
				<p>已有账号? 点击 <a href="page_login.html" class="color-green">登录</a> 您的账号</p>
            </form>
        </div>
	</div>
</div>
{include file="Index/footer.html"}
