{extends file="base.html"}
{block name="section"}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">角色列表</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    角色列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>角色名称</th>
                                    <th>权限ids</th>
                                    <th>权限控制器/操作方法</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {foreach $info as $k=>$v}
                                <tr class="gradeU">
                                    <td>{$v.role_id}</td>
                                    <td>{$v.role_name}</td>
                                    <td>{$v.role_auth_ids}</td>
                                    <td>{$v.role_auth_ac}</td>
                                    <td class="center"><a href="{$smarty.const.__CONTROLLER__}/distribute/role_id/{$v.role_id}">分配权限</a> | <a href="">更新</a> | <a href="">删除</a></td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- {foreach $info as $k=>$v}
                    <span>{$v['goods_id']}</span><br>
                    {/foreach}
                    {$pagelist} -->
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{/block}
{block name="table_js"}
<script>
    // alert($);
</script>
{/block}
