{extends file="base.html"}
{block name="section"}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">商品列表</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    商品列表
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>商品名称</th>
                                    <th>商品数量</th>
                                    <th>商品价格</th>
                                    <th>图片</th>
                                    <th>缩略图</th>
                                    <th>品牌</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {foreach $info as $k=>$v}
                                <tr class="gradeU">
                                    <td>{*$v@iteration*}{$v.goods_id}</td>
                                    <td>{$v.goods_name}</td>
                                    <td>{$v.goods_number}</td>
                                    <td>{$v.goods_price}</td>
                                    <td><img src="{$smarty.const.SITE_URL}{$v.goods_big_img}" alt="" width="60" height="60"></td>
                                    <td><img src="{$smarty.const.SITE_URL}{$v.goods_small_img}" alt="" width="40" height="40"></td>
                                    <td>{$v.goods_brand_id}</td>
                                    <td>{$v.goods_create_time|date_format:'%Y-%m-%d %T'}</td>
                                    <td class="center"><a href="{$smarty.const.__CONTROLLER__}/upd/goods_id/{$v.goods_id}">更新</a>|<a href="#">删除</a></td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
