<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台</title>
    <link href="{$smarty.const.BOWER_URL}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$smarty.const.BOWER_URL}/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="{$smarty.const.BOWER_URL}/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{$smarty.const.BOWER_URL}/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="{$smarty.const.DIST_URL}/css/sb-admin-2.css" rel="stylesheet">
    <link href="{$smarty.const.BOWER_URL}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="">后台管理页面</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>{session('admin_name')}</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{$smarty.const.__MODULE__}/Manager/logout" onclick="if(confirm('确认退出吗?')) return true;else return false;"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {foreach session('auth_infoA') as $k=>$v}
                        <li>
                            <a href="#"><i class="fa fa-align-justify"></i> {$v.auth_name}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {foreach session('auth_infoB') as $kk=>$vv}
                                {if $vv.auth_pid == $v.auth_id}
                                <li>
                                    <a href="{$smarty.const.__MODULE__}/{$vv.auth_c}/{$vv.auth_a}">{$vv.auth_name}</a>
                                </li>
                                {/if}
                                {/foreach}
                            </ul>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            {block name="section"}{/block}
        </div>
    </div>
    <!-- jQuery -->
    <script src="{$smarty.const.BOWER_URL}/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$smarty.const.BOWER_URL}/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{$smarty.const.BOWER_URL}/metisMenu/dist/metisMenu.min.js"></script>

    {block name="table_js"}
    <!-- DataTables JavaScript -->
    <script src="{$smarty.const.BOWER_URL}/datatables/media/js/jquery.dataTables.js"></script>
    {/block}
    <script src="{$smarty.const.BOWER_URL}/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{$smarty.const.DIST_URL}/js/sb-admin-2.js"></script>
    <script src="/Public/js/layer.js"></script>
    <script src="/Public/js/dialog.js"></script>
    <script src="/Public/js/common.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>

</body>

</html>
