{include file="Index/header.html"}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="color-green pull-left">{$catename}</h1>
    </div>
</div>
<div class="container">
	<div class="row-fluid">
        <div id="w">
            <div class="sort" id="sort">
				<ul class="unstyled inline">
                	<li><a href="#" class="all selected">所有分类</a></li>
                    {foreach $cate as $k=>$v}
                	<li><a href="#" class="{$v.cat_name}">{$v.cat_name}</a></li>
                    {/foreach}
                </ul>
            </div>

            <ul class="portfolio recent-work clearfix">
                {foreach $goods as $k=>$v}
                <li data-id="id-{$v.goods_id}" class="{$v.cat_name}">
                    <a href="{$smarty.const.__CONTROLLER__}/detail?goods_id={$v.goods_id}">
                    	<em class="overflow-hidden"><img style="width:270px;height:117px;" src="{$v.goods_small_img}" alt="" /></em>
                        <span>
                            <strong>{$v.goods_name}</strong>
                            <i>{$v.goods_price}</i>
                        </span>
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>
{include file="Index/footer.html"}
